header{
  font-size: 20vmin;
}

.board-block{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 0.3vh;
  border-radius: 2vh;
}

.marker-image{
  animation: pop-in 0.15s ease-in-out forwards;
  margin: 0;
  padding: 0;
  height: 5vh;
  width: auto;
}

@keyframes pop-in {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

.game-board{
  box-sizing: border-box;
  display: grid;
  height: 80vmin;
  width: 80vmin;
  grid-column-gap: 2vmin;
  grid-row-gap: 2vmin;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.game-display{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
  padding-bottom: 3vh;
  width: 100%;
}

.game-display.blur{
  filter: blur(3px);
}

.score{
  display: flex;
  justify-content: space-between;
  width: 70vh;
}

.score-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vmin;
  height: 20vmin;
  font-size: 6vh;
  border-radius: 2vh;
  border: solid black 0.3vh;
}

.result-screen{
  text-align: center;
  z-index: 9;
  box-sizing: border-box;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.result-screen.active{
  visibility: visible;
  font-size: 30vh;
  animation: result-pop-in 1.75s ease-in-out;
}

@keyframes result-pop-in {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  background: linear-gradient(45deg, #d4e4ef 0%,#86aecc 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
}

body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}