header{
  font-size: 20vmin;
}

.board-block{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 0.3vh;
  border-radius: 2vh;
}

.marker-image{
  margin: 0;
  padding: 0;
  height: 5vh;
  width: auto;
}

.game-board{
  box-sizing: border-box;
  display: grid;
  height: 80vmin;
  width: 80vmin;
  grid-column-gap: 2vmin;
  grid-row-gap: 2vmin;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.game-display{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
  padding-bottom: 3vh;
  width: 100%;
}

.score{
  display: flex;
  justify-content: space-between;
  width: 70vh;
}

.score-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vmin;
  height: 20vmin;
  font-size: 6vh;
  border-radius: 2vh;
  border: solid black 0.3vh;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  background: linear-gradient(45deg, #d4e4ef 0%,#86aecc 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
}

body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}